@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-right: 150px;
  margin-left: 150px;
  background-image: url("./Images/background.jpg");
  background-size: "cover";
  background-repeat: "no-repeat";
}
